/*drivePicker*/

.drivePicker-enter {
    width: 0px;
    margin-right: 0px
}

.drivePicker-enter-active {
    width: 300px;
    margin-right: 20px;
    transition: width 250ms, margin-right 250ms;
}

.drivePicker-enter-done {
    width: 300px;
    margin-right: 20px;
}


.drivePicker-exit {
    width: 300px;
    margin-right: 20px;
}

.drivePicker-exit-active {
    width: 0px;
    margin-right: 0px;
    transition: width 500ms, margin-right 500ms;
}

/*Drive Picker Vertical*/

.drivePicker-vertical-enter {
    height: 0px;
    margin-bottom: 0px
}

.drivePicker-vertical-enter-active {
    height: 95px;
    margin-bottom: 20px;
    transition: height 500ms, margin-bottom 250ms;
}

.drivePicker-vertical-enter-done {
    height: 95px;
    margin-bottom: 20px;
}


.drivePicker-vertical-exit {
    height: 95px;
    margin-bottom: 20px;
}

.drivePicker-vertical-exit-active {
    height: 0px;
    margin-bottom: 0px;
    transition: height 250ms, margin-bottom 500ms;
}

/*Details pane*/

.detailsPane-enter {
    width: 0px;
    margin-left: 0px
}

.detailsPane-enter-active {
    width: 300px;
    margin-left: 20px;
    transition: width 250ms, margin-left 250ms;
}

.detailsPane-enter-done {
    width: 300px;
    margin-left: 20px;
}


.detailsPane-exit {
    width: 300px;
    margin-left: 20px;
}

.detailsPane-exit-active {
    width: 0px;
    margin-left: 0px;
    transition: width 500ms, margin-left 500ms;
}